@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/* font-family: 'Red Hat Display', sans-serif; */

:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsla(224, 30%, 78%, 0.116);
    --desaturatedBlue2: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--paleBlue);
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 15px;
}

.ilu {
    width: 350px;
    border-radius: 15px 15px 0 0;
}

.container h2 {
    font-weight: 900;
    color: var(--darkBlue);
}

.info {
    margin-top: 0;
    text-align: center;
    color: var(--desaturatedBlue2);
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    background: var(--desaturatedBlue);
    border-radius: 15px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.name_plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.name_plan h3 {
    margin-bottom: 0;
    color: var(--darkBlue);
    font-size: 16px;
}

.name_plan p {
    margin-top: 0;
    font-size: 15px;
    color: var(--desaturatedBlue2);
}

.plan span {
    cursor: pointer;
    text-decoration: underline;
    color: var(--brightBlue);
    font-weight: 700;
    margin-left: 50px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.pay {
    background-color: var(--brightBlue);
    color: whitesmoke;
    box-shadow: 0px 5px 10px 0px hsla(245, 75%, 52%, 0.418);
}

.cancel {
    margin-bottom: 20px;
    background: none;
    color: var(--desaturatedBlue2);
}